<div class="row">
    <div class="col-6">
        <a asp-page="Edit" class="btn btn-primary form-control" value="Edit" asp-route-id="@Model.ServiceType.Id">Edit</a>
    </div>
    <div class="col-6">
        <a asp-page="Index" class="btn btn-success form-control">Back To List</a>
    </div>
</div>